.cartItem{
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  align-items: center;
}
.cartItem img{
  width: 40px;
  margin-right: 10px;
}

.btn-group{
  padding: 0 20px;
}

.btn-trash{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
}

.btn-group button{
  padding: 0 20px;
  margin-top: 10px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
}

.btn-group button:hover{
  border: 2px solid grey;
}

.chooseOne{
  color: green ;
}

.chooseAgain{
  color: blue;
}